<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <h4>Result Management</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">

            <div class="row">

                <div class="col-md-6">
                    <div>
                        <h3>Login</h3>
                    </div>

                    <div class="flex-container">
                        <form action="login" class="form-inline">
                            <button class="btn btn-outline-success" type="submit">Student</button>
                        </form>

                        <form action="loginTeacher" class="form-inline">
                            <button class="btn btn-outline-success offset-4" type="submit">Teacher</button>
                        </form>

                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <h3>Register</h3>
                    </div>

                    <div class="flex-container">
                        <form action="register" class="form-inline">
                            <button class="btn btn-outline-success" type="submit">Student</button>
                        </form>

                        <form action="registerTeacher" class="form-inline">
                            <button class="btn btn-outline-success offset-4" type="submit">Teacher</button>
                        </form>
                    </div>

                </div>
            </div>


        </div>
    </div>



</body>

</html>