<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <h4>Result Management</h4>

        <form action="logout" method="POST" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>

    </nav>


    <div align="center">
        <h3>Welcome Student</h3>
    </div>

    {{#if message}}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}

    <form action="/auth/searchResult" method="post">
        <div class="container col-md-5">
            <div class="card">
                <div class="card-body">

                    <fieldset class="form-group">
                        <label>Name</label> <input type="text" class="form-control" name="name" required />
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Roll No</label> <input type="text" class="form-control" name="rollNo" required />
                    </fieldset>

                    <button type="submit" class="btn btn-success">Find Result</button>

                </div>
            </div>
        </div>
    </form>

</body>

</html>